.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 350px;
  height: 250px;
}

.product-image {
  width: 100px;
  height: 100px;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
