main {
  position: fixed;
  left: 0;
  top: 60px;
}

.router {
  position: fixed;
  left: 150px;
  display: flex;
  justify-content: center;

  overflow-y: auto;
  height: calc(100vh - 70px);
  width: calc(100% - 150px);
  padding: 1rem;
}
